<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% if is_branch %}
    <title>Create Mega Event | IEEE NSU Student Branch</title>
    {% else %}
    <title>Create Mega Event | {{sc_ag_info.group_name}}</title>
    {% endif %}
    <link rel="icon" href="{% static 'logos/logo.gif' %}" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    {% block common_css %}
     {% include "common_css.html" %} 
    {% endblock common_css %}
    <link rel="stylesheet" href="{% static 'tab_view.css' %}" type="text/css" />
    <!--Event page css-->
    <link
      rel="stylesheet"
      href="{% static 'css/event_form.css' %}"
      type="text/css"
    />
  </head>
  <body>
    <!-- ############ LAYOUT START-->
    <div class="app" id="app">
      <!-- aside -->
      <div id="aside" class="app-aside modal nav-dropdown">
        {% block sidebar %} {% include 'users/sidebar.html' %} {% endblock %}
      </div>
      <!-- aside end -->

      <!-- navbar content -->
      <div id="content" class="app-content box-shadow-z0" role="main">
        {% if is_branch %} 
            {% block navbar %} 
            {% include 'navbar.html' %} 
            {% endblock navbar %} 
        {% else %} 
            {% block sc_ag_navbar %} 
            {% include 'sc_ag_navbar.html' %}
            {% endblock sc_ag_navbar %} 
        {% endif %}
      </div>
      <!--navbar content-->

      <!-- ############ PAGE START-->
      <div ui-view class="app-body" id="view">
        <br>
        <div class="container note-container">
          <h6 style="font-weight: bold; color: #00629b">Note:</h6>
          <ol class="note_instructions">
            <li>All ( * ) marked fields are mandatory to be filled</li>
            <li>Maximum 1 picture can be uploaded in dedicated sections</li>
            <li>Don’t forget to save the changes by clicking save button</li>
            {% comment %} All ( * ) marked fields are mandatory to be filled
            Keep in mind your description does not exceed the character count
            Maximum 1 picture can be uploaded in dedicated sections To replace a
            picture, delete the previous one and add a new one You can view the
            image by clicking on it You can add as many links as you want You
            can see your changes by clicking the preview button Don’t forget to
            save the changes by clicking save button {% endcomment %}
          </ol>

          <!--for error messages-->
          <div class="container">
            {% for message in messages %}
            <div
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <p style="margin: 0">{{message}}</p>
            </div>
            {% endfor %}
          </div>
          <!--for error messages end-->
        </div>
        <br>
        <!--TabView for event creation-->

        <div>
          {% block super_event_creation_form %} 
            {% include "Events/Super Event/super_event_details_form_content.html" %} 
          {% endblock super_event_creation_form %} 
          {% comment %}
          <div>
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
            <p></p>
          </div>
          {% endcomment %}
        </div>
        <!--End of TabView-->
      </div>
      <!--PAGE END-->

      <!--Theme Switcher-->
      {% block theme_switcher %} {% include "theme_switcher.html" %} {% endblock theme_switcher %}
    </div>
    <!-- app end-->

    {% block common_js %} 
      {% include "common_js.html" %} 
    {% endblock common_js %}

    <script src="{% static 'tab_view.js'%}"></script>
  </body>
</html>
