<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    {% if is_branch %}
    <title>Update Mega Event | IEEE NSU Student Branch</title>
    {% else %}
    <title>Update Mega Event | {{sc_ag_info.group_name}}</title>
    {% endif %}
    <link rel="icon" href="{% static 'logos/logo.gif' %}"/>
    
    <link rel="stylesheet" href="{% static 'tab_view.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    {% block common_css %}
        {% include "common_css.html" %}
    {% endblock common_css %}


    <!--Event page css--> 
    <link rel="stylesheet" href="{% static 'css/event_form.css' %}" type="text/css" />
</head>
<body>
    <!-- ############ LAYOUT START-->
    <div class="app" id="app">

        <!-- aside -->
        <div id="aside" class="app-aside modal nav-dropdown">
  
            {% block sidebar %}
              {% include 'users/sidebar.html' %}
            {% endblock %}

      </div>
      <!-- aside end -->

      <!-- navbar content -->
      <div id="content" class="app-content box-shadow-z0" role="main">
        {% if is_branch %}
            {% block navbar %}
                {% include 'navbar.html' %}
            {% endblock navbar %}
        {% else %}
            {% block sc_ag_navbar %}
              {% include 'sc_ag_navbar.html' %}
            {% endblock sc_ag_navbar %}
          {% endif %}
        </div>
      <!--navbar content-->
      
      <!-- ############ PAGE START-->
      <div ui-view class="app-body" id="view">

        <!--Back Arrow-->
        <br>
        <div class="tooltip-container">
            {% if is_branch %}
            <a href="{% url 'central_branch:mega_events' %}" class="image-button">
                <img src="{% static 'back-arrow.png' %}" alt="Go back to session">
            </a>
            {% else %}
            <a href="{% url 'chapters_and_affinity_group:mega_events' sc_ag_info.primary %}" class="image-button">
                <img src="{% static 'back-arrow.png' %}" alt="Go back to session">
            </a>
            {% endif %}
            
            <span class="tooltip-text">Go back to Mega Events</span>
        </div>
        <!--Tab view for Events-->
        <!--Tab view Start-->
        <br>
        <br>
        <div class="container">
            {% block super_event_edit_tab %}
            {% include "Events/Super Event/super_event_edit_tabs.html" %}
            {% endblock super_event_edit_tab %}
        </div>
        <!--Tab view end-->

        <br>
        <div class="container note-container">
          <h6 style="font-weight: bold; color: #00629b">Note:</h6>
          <ol class="note_instructions">
          <li>Add events for the {{mega_event.super_event_name}} by clicking on the (+) icon</li>
          <li>Make sure to save any changes you make before leaving</li>
          </ol>

          {% if show_restriction_banner %}
            <div class="banner">
                <p>
                    <span class="lock-icon"><i class="fa fa-lock"></i></span>
                    All updates to Society and Affinity groups have been locked by the administrator
                </p>
            </div>
            {% endif %}
        </div>
        <br>
        {% block super_event_add_event_form %}
            {% include "Events/Super Event/super_event_add_event_form_tab_content.html" %}
        {% endblock super_event_add_event_form %}
                            
        </div>
        <!--PAGE END-->

        <!--Theme Switcher-->

        {% block theme_switcher %}
            {% include "theme_switcher.html" %}
        {% endblock theme_switcher %}
    
    </div>
    <!-- app end-->

    {% block common_js %}
        {% include "common_js.html" %}
    {% endblock common_js %}

    <script src="{% static 'tab_view.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




    

</body>
</html>
