{% load static %}
{% block event_edit_tab %}

<style>
    .event-edit-tabs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 6px;
        padding: 6px;
        list-style: none;
        margin: 0;
        width: 50%;
        background-color: #ffffff;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .event-edit-tabs li {
        padding: 12px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        color: #333333b7;
        border-radius: 6px;
        transition: all 0.3s ease-in-out;
    }

    .event-edit-tabs li a {
        text-decoration: none;
        color: inherit;
        font-size: 14px;
        display: block;
        width: 100%;
    }

    .event-edit-tabs li.active_tab {
        background-color: rgba(0, 40, 85, 0.9);
        color: #ffffff;
    }

    .event-edit-tabs li:hover {
        background-color: #00629b3b;
        color: #002855db;
    }

    @media screen and (max-width: 768px) {
        .event-edit-tabs {
            width: 100%;
            grid-template-columns: 1fr;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const currentPageUrl = window.location.href;
        const tabs = document.querySelectorAll(".event-edit-tabs li");

        tabs.forEach(tab => {
            const link = tab.querySelector("a");

            if (link && currentPageUrl.includes(link.getAttribute("href"))) {
                tab.classList.add("active_tab");
            }

            tab.addEventListener("click", function (e) {
                e.preventDefault();
                tabs.forEach(t => t.classList.remove("active_tab"));
                tab.classList.add("active_tab");
                if (link) window.location.href = link.href;
            });
        });
    });
</script>

    <ul class="event-edit-tabs">
        {% if is_branch %}
            <li>
                <a href="{% url 'central_branch:mega_event_edit' mega_event.pk %}">
                    Edit
                </a>
            </li>
            <li>
                <a href="{% url 'central_branch:mega_event_add_event' mega_event.pk %}">
                    Add Events
                </a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'chapters_and_affinity_group:mega_event_edit' primary mega_event.pk %}">
                    Edit
                </a>
            </li>
            <li>
                <a href="{% url 'chapters_and_affinity_group:mega_event_add_event' primary mega_event.pk %}">
                    Add Events
                </a>
            </li>
        {% endif %}
    </ul>

{% endblock event_edit_tab %}
