{% load static %}
{% block event_details_form %}
    <div class="container" id="PseudonameForContainer">
        <div class="box" id="boxID">
            <h1  class="form-title">Create Event</h1>
            
            {% comment %} <!--Error Message-->
            <div class="py-3 text-center">
                {% for message in messages %}
                    <p style="color:red" class="message">{{message}}</p>
                {% endfor %}
            </div> {% endcomment %}
            <form method="POST" id="eventForm">
                {% csrf_token %}
                <div class="box-body">
                    <!-- Event Name -->
                    <div class="form-group">
                        <label class="label-heading">Event Name &nbsp;
                        </label> 
                        <input
                            placeholder="SPAC 2025, STEP25..."
                            class="label-input"
                            type="text"
                            autocomplete="off"
                            required
                            name="event_name"/>
                    </div>
                    <!-- Event Description -->
                    <div class="label-heading">
                        {{form.media}}
                        {{form.as_p}}
                    </div>
                    <!--Select Mega Event-->
                    <div class="form-group">
                        <label class="label-heading">Mega Event of</label>    
                        <select class="form-control" name="super_event">
                        <option selected value="null">--------------------</option>
                        {% for super_event in super_events %}
                            <option value={{super_event.id}}>{{super_event.super_event_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- Select Event Type -->
                    <div class="form-group">
                        <label class="label-heading">Select Event Type: <span style="color:red; font-weight: normal;">*<span></label>
                        <select multiple class="form-control" name="event_type" required>
                        <option selected value="null">--------------------</option>
                            {% for event_type in event_types %}
                            <option value={{event_type.id}}>{{event_type.event_category}}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="btn btn-outline-success buttons mt-2" data-toggle="modal" data-target="#EventTypeModal">Add Event Type</button>
                    </div>
                    {% comment %} <div class="form-group">
                        <label class="label-heading" for="exampleInputPassword3">Add a date for the Event</label>
                        <input
                            placeholder="Event Date"
                            name="event_date"
                            type="date"
                            class="form-control"
                        />
                    </div>
                    <!-- Event Time -->
                    <div class="form-group">
                        <label class="label-heading">Event Time: <span style="color:red">*<span></label> 
                        <input
                            placeholder="Eg. 9:00 AM - 5:00 PM"
                            class="form-control"
                            type="text"
                            autocomplete="off"
                            required
                            name="event_time"
                            value="{{event_details.event_name}}" 
                        />
                            
                    </div> {% endcomment %}
                    <div class="form-group">
                        <label class="label-heading" for="startDateTime">Tentative start date: </label>
                        <input class="label-input" type="datetime-local" id="startDateTime" name="start_date_time" required>
                    </div>
                    <div class="form-group">
                        <label class="label-heading" for="endDateTime">Tentative end date: </label>
                        <input class="label-input" type="datetime-local" id="endDateTime" name="end_date_time" required>
                    </div>
                    <div id="error-message" style="color: red; display: none;"></div><br>
                    <!-- Buttons -->
                    <div class="continue-collab-cancel-btn">
                        {% if is_branch %}
                        <a href="{% url 'central_branch:event_control' %}" class="btn btn-outline b-danger text-danger">Cancel</a>
                        {% else %}
                        <a href="{% url 'chapters_and_affinity_group:event_control_homepage' sc_ag_info.primary %}" class="btn btn-outline b-danger text-danger">Cancel</a>
                        {% endif %}
                        <input type="submit" name="next" class="btn btn-outline b-success text-success" value="Continue to Collaborations Tab">
                    </div>
                    <br> 
                </div>
            </form>
        </div>
                
    </div>

    <div class="modal fade" id="EventTypeModal" tabindex="-1" role="dialog" aria-labelledby="EventTypeModalLabel" aria-hidden="true">
        
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Event Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <form method="POST">
                    {% csrf_token %}
                  
                  <label for="label">Event Type:</label>
                  <input type="text" id="label" name="event_type">
                </div>
                <div class="modal-footer">
                  <input type="submit" class="btn btn-outline-success txt-success buttons" name="add_event_type" value="Add">
                  <button  class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
  
                </div>
              </form>
            </div>
        </div>
      </div>
<script>
        const form = document.getElementById('eventForm');
        const startDateTimeInput = document.getElementById('startDateTime');
        const endDateTimeInput = document.getElementById('endDateTime');
        const errorMessage = document.getElementById('error-message');

        form.addEventListener('submit', function(event) {
            const startDateTime = new Date(startDateTimeInput.value);
            const endDateTime = new Date(endDateTimeInput.value);

            // Reset error message
            errorMessage.style.display = 'none';
            errorMessage.textContent = '';

            if (startDateTime > endDateTime) {
                // Prevent form submission
                event.preventDefault();
                // Show error message
                errorMessage.style.display = 'block';
                errorMessage.textContent = 'Start date/time cannot be after the end date/time.';
            }
        });
</script>
{% endblock event_details_form %}