<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    {% if is_branch %}
    <title>Create Event | IEEE NSU Student Branch</title>
    {% else %}
    <title>Create Event | {{sc_ag_info.group_name}}</title>
    {% endif %}
    <link rel="icon" href="{% static 'logos/logo.gif' %}"/>

    {% block common_css %}
        {% include "common_css.html" %}
    {% endblock common_css %}
    <link rel="stylesheet" href="{% static 'tab_view.css' %}" type="text/css" />
    <!--Event page css-->
    <link rel="stylesheet" href="{% static 'css/event_form.css' %}" type="text/css" />
</head>
<body>
    <!-- ############ LAYOUT START-->
    <div class="app" id="app">

        <!-- aside -->
        <div id="aside" class="app-aside modal nav-dropdown">
  
  	        {% block sidebar %}
	            {% include 'users/sidebar.html' %}
  	        {% endblock %}
  
        </div>
        <!-- aside end -->
  
        <!-- navbar content -->
        <div id="content" class="app-content box-shadow-z0" role="main">
            {% if is_branch %}
              {% block navbar %}
                  {% include 'navbar.html' %}
              {% endblock navbar %}
            {% else %}
              {% block sc_ag_navbar %}
                {% include 'sc_ag_navbar.html' %}
              {% endblock sc_ag_navbar %}
            {% endif %}
          </div>
        <!--navbar content-->
        
        <!-- ############ PAGE START-->
        <div ui-view class="app-body" id="view">
            
            <div class="container">
                 <!--Note Section Start-->
                {% block note %}
                {% include "Events/event_note.html" %}
                {% endblock note %}
                <!--Note Section End-->
            </div>

            <!--for error messages-->
            <div class="container">
                <br>
                {% for message in messages  %}
                    <p>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p style="margin: 0;">{{message}}</p>
                        </div>
                    </p>
                  {% endfor %}
                  <br>
            </div>
            <!--for error messages end-->
            
            <!--TabView for event creation-->
            <div>
            
                {% block event_venue_and_permission_form %}
                    {% include "Events/event_venue_and_permission_form_content.html" %}
                {% endblock event_venue_and_permission_form %}
                <br>
                <div>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                    <p></p>
                </div>
            </div>
            <!--End of TabView-->

        </div>
        <!--PAGE END-->


        
        

        

    

        <!--Theme Switcher-->

        {% block theme_switcher %}
            {% include "theme_switcher.html" %}
        {% endblock theme_switcher %}
    
    </div>
    <!-- app end-->

    {% block common_js %}
        {% include "common_js.html" %}
    {% endblock common_js %}

    <script src="{% static 'tab_view.js'%}"></script>

</body>
</html>
